.CollapsibleBlock {
    --title-border-radius: 0.5em;
    --title-background-color: #1565c0;
    --title-text-color: #F9F9FB;

    border: 1px solid black;
    border-radius: var(--title-border-radius);
    width: 100%;

    h2+button,
    h3+button {
        margin-left: auto;
    }

    &.active {
        >.title {
            border-radius: var(--title-border-radius) var(--title-border-radius) 0 0;
        }
    }

    &.hidden {
        >.content {
            display: none;
        }

        >.title {
            border-radius: var(--title-border-radius);
        }
    }

    >.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5lh;
        padding: 0.5lh 0.5em;
    }

    >.title {
        background: var(--title-background-color);
        color: var(--title-text-color);
        padding: 0.25lh 0 0.25lh 0.5em;

        button {
            background: none;
            color: var(--title-text-color);
        }
    }
}