.CV {
    width: 100%;
    aspect-ratio: 210/297;
    padding: 5%;

    font-family: 'Times New Roman', Times, serif;

    background-color: #fff;
    
    >div+div {
        margin-top: 1lh;
    }
}

.CV-outer {
    aspect-ratio: 210/297;
    border: 3px solid black;
}