:root {
    --body-background-color: #F9F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-height: 100vh;
    padding: 1em;
    gap: 1em;
}

body {
    font-size: 16px;
    background-color: var(--body-background-color);
    word-wrap: anywhere;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}